
@{
    ViewData["Title"] = "Index";
}

<h1>Weather Index Page</h1>


@model WeatherApp.Data.WeatherData;
@using (Html.BeginForm())
{
    @Html.TextBoxFor(s => s.name);
<input type="submit" value="Apply" asp-action="Details" class="btn btn-dark" />
}

